
<ion-header [translucent]="true">

  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Signin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Correo electronico</ion-label>
    <ion-input type="email" [(ngModel)]="user.email"></ion-input>

  </ion-item>
  <ion-item>
    <ion-label position="floating">Contrasena</ion-label>
    <ion-input type="password" [(ngModel)]="user.password"></ion-input>
  </ion-item>
    <ion-button class="ion-padding" size="larger" expand="block" fill="outline" (click)="onRegister()">Signin</ion-button>
</ion-content>